[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd.git

[submodule "thirdparty/cpp-base64"]
	path = thirdparty/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git

[submodule "thirdparty/tiny-AES-c"]
	path = thirdparty/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
